.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #525252;
    color: #f1f1f1;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: #7a7a7a;

}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #686868;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #525252;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #525252;
}

.products-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.search-label {
    margin-right: 10px;
}

#search-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}